.header {
    background-color: #26d0c9;
    color: #fff;
    height: 90px;
}
  
.header-logo {
    float: left;
    font-size: 24px;
    padding: 20px 30px;
}

body {
    font-family: "sans-serif";
}
  
.main {
    padding: 30px 30px;
}
  
.copy-container h1 {
    font-size: 50px;
} 

.copy-container h2 {
    font-size: 30px;
    color: rgb(202, 202, 202);
} 
  
.copy-container h3{
      font-size: 20px;
}
  
.contents {
    height: 500px;
    margin-top: 100px;
    font-size: 36px;
}
  
.section-title {
    border-bottom: 2px solid #dee7ec;
    font-size: 50px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}

.footer {
  background-color: #2f5167;
  color: #fff;
  height: 150px;
  padding: 10px;
}

.footer-logo {
  font-size: 50px;
}

.footer-logo h5 {
font-size: 30px;
}

h5 a {
    color: floralwhite;
    font-size: 30px;
}
